<th:block th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>JPA Project</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
        <script th:src="@{/layui/layui.js}" type="text/javascript"></script>
        <style>
            .x-nav {
                padding: 0 20px;
                position: relative;
                z-index: 99;
                border-bottom: 1px solid #e5e5e5;
                line-height: 39px;
                height: 39px;
                overflow: hidden;
                background: #fff;
            }
            iframe{
                width: 100%;
                height: 100%;
                border: none;
                padding: 0;
                margin: 0;
                overflow-clip-margin: content-box !important;
                overflow: clip !important;
            }
        </style>
    </head>
</th:block>