<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/header::header}"></div>
<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">home</a>
        <a href="">department</a>
        <a>
          <cite>list</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-sm" style="float:right;margin-top: 4px"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item:${departments}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>